<link rel="stylesheet" href="app/layout/navbar/navbar.component.css" />

<nav class="navbar">
  <div class="container">
    <img src="app/image/class.png" alt="Logo de ClassCraft" class="navbar-logo" />

    <ul class="nav-links">
      <li><a href="./testimonios/testimonio.html">Testimonios</a></li>
      <li><a href="#!/teacher/role-selection.component.html">Tarifa</a></li>
      <li><a href="#!/teacher/role-selection.component.html">Visión general</a></li>
      <li>
        <a class="cta-button" ng-click="vm.goToRoleSelection()">Inscribirse</a>
      </li>
      <li>
        <a class="cta-button" ng-click="vm.goToRoleSelection()">Iniciar sesión</a>
      </li>
    </ul>
  </div>
</nav>