<!-- backend/public/app/layout/navbar/navbar.template.html -->
<link rel="stylesheet" href="app/layout/navbar/navbar.component.css" />

<nav class="navbar">
  <div class="container">
    <img src="app/image/class.png" alt="Logo de ClassCraft" class="navbar-logo" />

    <ul class="nav-links">
      <li><a href="#!/register">Testimonios</a></li>
      <li><a href="#!/register">Tarifa</a></li>
      <li><a href="#!/register">Visión general</a></li>
      <button class="cta-button">Inscribirse</button>
      <li><a href="#!/login">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>
